.mode__wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 5px;
  border-right: 1px solid #000;
}

.mode__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: calc(33.333% - 10px);
  margin: 5px;
  cursor: pointer;
}

.mode__choose {
  outline: 1px solid #000;
}